[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pre-commit = "*"
coverage = "*"
pycodestyle = "*"
ipdb = "*"
mock = "*"
nose = "*"
rednose = "*"
unittest2 = "*"

[packages]
requests = "==2.23.0"
six = "==1.14.0"
PyYAML = "==5.3.1"

[requires]
python_version = "3.6"
